/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*

/restart.sh

/docker-compose.yml
/frontend/nginx.conf
/frontend/Dockerfile
/backend/Dockerfile
/backend/app/core/settings.py

/web/node_modules

# .gitignore
__pycache__/
*.pyc
/backend/app/static/.idea/
